// Definición de variables
@use "../../../styles/colors" as colors;



$primary-color: colors.$orange;
$disabled-color: colors.$disabled;
$hover-color: #FD954F;
$click-color: #CD5C10;


$secondary-color: #e16e21;
$secondary-hover-color: #FD954F;
$secondary-click-color: #CD5C10;

// Mixin para manejar el estado deshabilitado
@mixin button-disabled {
  background-color: $disabled-color;
  cursor: not-allowed;
  opacity: 0.6;
}

// Mixin para definir tamaños de botones
@mixin button-size($width, $height, $padding) {
  width: $width;
  height: $height;
  padding: $padding;
}

// Placeholder para estilos comunes de botones
%button-common {
  border: none;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.button {
  @extend %button-common;

  // Tamaños utilizando el mixin
  &.medium {
    @include button-size(110px, 39px, 8px 16px);
  }

  &.small {
    @include button-size(71px, 27px, 4px 12px);
  }

  // Variantes principal
  &.main {
    color: #fff;
    background-color: $primary-color;
    border-radius: 4px;

    &:hover {
      background-color: $hover-color;
    }

    &:active {
      background-color: $click-color;
    }

    &:disabled {
      @include button-disabled;
    }
  }

  &.icon {
    // Estilos específicos para la variante "icon"
    background-color: red;
    width: 30px;
    height: 30px;
    border: none;
    padding: 0;
  }

  // Variantes secundaria
  &.secondary {
    color: $primary-color;
    background-color: transparent;
    border: 2px solid $primary-color;
    border-radius: 4px;

    &:hover {
      color: $secondary-hover-color;
      border-color: $secondary-hover-color;
    }

    &:active {
      color: $secondary-click-color;
      border-color: $secondary-click-color;
    }

    &:disabled {
      color: $disabled-color;
      border-color: $disabled-color;
      cursor: not-allowed;
    }
  }

  // Variante tipo enlace
  &.link {
    background: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      color: darkblue;
    }

    &:disabled {
      @include button-disabled;
      pointer-events: none;
    }

    a {
      text-decoration: inherit;
      color: inherit;
    }
  }
}
