@use "../../../styles/colors.scss" as colors;

$orange: colors.$orange;

.inputListContainer {
  padding: 1px;
  display: flex;
  flex-direction: column;
}

.inputItem {
  display: flex;
  align-items: center; 
  padding: 1px; 
  width: 100%; 
  box-sizing: border-box; 

  svg{
    width: 40%;
    height: auto;
    align-items: center;
    text-align: center;
  }

  .fatherInput{
    width: 100%;
  }

  .input{
    width: 100%;
    height: 4.313rem;
    resize: none; 
    overflow: auto;
    font-weight: 400;
    font-size: 0.83rem;
    padding: 0.5rem;
  }

  .deleteButton {
    background-color: gray;
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 2px;
    border: 1px solid #494949;

    &:hover {
      background-color: $orange ; /* Cambiar color en hover */
    }
  }
}

#hide{
  opacity: 0;
  cursor: auto; 
}

.buttonsContainer {
  display: flex;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
}