.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f4f4f4;
    padding: 20px;
    border-top: 1px solid #ddd;
}

.footer-section{
    flex: 1;
    min-width: 150px;
    margin: 10px;
}

.footer-section h4{
    margin-bottom: 10px;
    font-size:16px;
}

.footer-section p,
.footer-section button,
.footer-section address {
  margin: 5px 0;
}
.footer-bottom {
    text-align: center;
    width: 100%;
    margin-top: 20px;
    font-size: 14px;
  }
  
  .footer-bottom a {
    color: #007bff;
    text-decoration: none;
  }
  
  .footer-bottom a:hover {
    text-decoration: underline;
  }