.container{
    width: 100%;
    height: auto;
    background-color: #F9F4F0;
    border-radius: 24px;
    padding: 60px;
    margin: 20px 0;
}

.stepper{
    margin:20px 0px;
    width: 100%;
}

.div-buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
} 

.step1{
    width: 100%;

    .horizontalInput{
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    
    .inputFather{
        width: 100%;
        margin-left: 0;

        &--column{
            flex: 1;
        }

        .inputChild{
            width: 100%;
            margin: 0;

            &--description{
                height: 6.25rem;
                resize: none;
            }

            &--column{
                margin-right: 0;
            }
        }
    }
}