// Border Radius Variables
$medium: 8px;
$huge: 24px;

// Mixins for Border Radius
@mixin border-radius-medium {
  border-radius: $medium;
}

@mixin border-radius-huge {
  border-radius: $huge;
}

// Utility Classes for Border Radius
.radius-medium {
  @include border-radius-medium;
}

.radius-huge {
  @include border-radius-huge;
}
