// colors.scss


// Corporate
$orange: #E16E21;
$gradient: linear-gradient(159.13deg, #E16E21 -24.13%, #934B20 132.21%);

// Grayscale
$black: #1F1914;
$hint-text: #5A463A;
$border: #BFAFA7;
$disabled: #D6CDC2;
$spacer: #E5DED7;
$spacer-light: #EFE9E3;
$bg-light-grey: #F9F4F0;
$white: #FFFFFF;

// Informing
$error: #D51A52;
$attention: #FF9500;
$approval: #00B998;
$link: #0F0BAB;

